<% @words.each_with_index do |word, index| %>
  <tr>
    <td><%= create_index params[:page], index, Settings.word_per_page %></td>
    <td><%= word.content %></td>
    <td><%= word.category.name %></td>
    <td>
      <%= link_to edit_admin_word_path(word), remote: true , class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-edit" ></span>
          <%= t :edit %>
      <% end %>
      <%= link_to admin_word_path(word), class: "btn btn-danger",
        method: :delete, data: { confirm: t(:sure)} do %>
          <span class="glyphicon glyphicon-remove"></span>
            <%= t :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
