<div class="col-lg-2">
  <h1 class="my-4"><%= t :data %></h1>
  <div class="list-group">
    <ul class="nav nav-sidebar">
      <li><%= link_to admin_users_path do %>
        <i class="glyphicon glyphicon-user"></i>
        <%= t :user %>
      <% end %>
      </li>
      <li><%= link_to admin_categories_path do %>
        <i class="glyphicon glyphicon-th"></i>
        <%= t :categories %>
      <% end %>
      </li>
      <li><%= link_to admin_words_path do %>
        <i class="glyphicon glyphicon-font"></i>
        <%= t :word %>
      <% end %>
      </li>
  </ul>
  </div>
</div>
