<% @lessons.each_with_index do |lesson, index| %>
  <tr>
    <td><%= create_index params[:page], index, Settings.word_per_page %></td>
    <td><%= l lesson.created_at, format: :date_month_year %></td>
    <td><%= category_name lesson %></td>
    <td>
      <% if lesson.learned %>
        <span class="label label-success">
          <%= t :finished %>
        </span>
      <% else %>
        <span class="label label-info">
          <%= t :open %>
        </span>
      <% end %>
    </td>
    <td><%= count_correct_answer lesson %> / <%= total_word_in_lesson lesson %></td>
    <td>
      <% if lesson.learned %>
        <%= link_to lesson, class: "btn btn-primary" do %>
          <i class="glyphicon glyphicon-eye-open"></i> <%= t :view %>
        <% end %>
      <% else %>
        <%= link_to lesson, class: "btn btn-primary" do %>
          <i class="glyphicon glyphicon-play"></i> <%= t :start %>
        <% end %>
      <% end %>
    </td>
<% end %>
