<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(:title), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in?  %>
          <% if current_user.admin? %>
            <li>
              <%= link_to admin_root_path do %>
                <i class="glyphicon glyphicon-star"></i> <%= t :admin %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to root_path do %>
                <i class="glyphicon glyphicon-home"></i> <%= t :home %>
              <% end %>
            </li>
            <li>
              <%= link_to categories_path do %>
                <i class="glyphicon glyphicon-th-list"></i> <%= t :categories %>
              <% end %>
            </li>
            <li>
              <%= link_to words_path do %>
                <i class="glyphicon glyphicon-font"></i> <%= t :word_list %>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <i class="glyphicon glyphicon-globe"></i> <%= t :all_users %>
              <% end %>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-user "></i> <%= t :account %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="glyphicon glyphicon-info-sign"></i> <%= t :profile %>
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="glyphicon glyphicon-cog"></i> <%= t :settings %>
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="glyphicon glyphicon-log-out"></i> <%= t :log_out %>
                <% end %>
              </li>
            </ul>
        <% else %>
            <li>
              <%= link_to root_path do %>
                <i class="glyphicon glyphicon-home"></i> <%= t :home %>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="glyphicon glyphicon-log-in "></i> <%= t :log_in %>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="glyphicon glyphicon-plus-sign"></i> <%= t :sign_up %>
              <% end %>
            </li>
        <% end %>
    </nav>
  </div>
</header>
